# ローカルの .terraform ディレクトリ
**/.terraform/*

# .tfstate ファイル
*.tfstate
*.tfstate.*

# クラッシュログファイル
crash.log
crash.*.log

# すべての .tfvars ファイルを除外します。これらのファイルには、パスワード、秘密鍵、その他の秘密情報などの機密データが含まれている可能性があります。これらはバージョン管理の一部にすべきではありません。なぜなら、これらは環境に応じて変更される可能性がある機密性の高いデータポイントだからです。
*.tfvars
*.tfvars.json

# オーバーライドファイルを無視します。これらは通常、リソースをローカルでオーバーライドするために使用されるため、チェックインされません。
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# terraform apply によって作成される一時的なロック情報ファイルを無視します
.terraform.tfstate.lock.info

# バージョン管理に追加したいオーバーライドファイルを否定パターンを使用して含めます
# !example_override.tf

# コマンド terraform plan -out=tfplan の出力を無視するために tfplan ファイルを含めます
# example: *tfplan*

# CLI 設定ファイルを無視します
.terraformrc
terraform.rc
