name: "Chromatic"

on:
  pull_request:
    types: [opened, reopened, ready_for_review]

defaults:
  run:
    shell: bash
    working-directory: "application"

jobs:
  chromatic:
    name: Run Chromatic
    runs-on: ubuntu-latest
    timeout-minutes: 3
    permissions:
      contents: read
    if: github.event.pull_request.draft == false && github.event.pull_request.state == 'open'
    steps:
      - uses: GitHubSecurityLab/actions-permissions/monitor@v1.0.2-beta7
        with:
          config: ${{ vars.PERMISSIONS_CONFIG }}
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-node-pnpm
      - uses: chromaui/action@v13
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          onlyChanged: true
          skip: "dependabot**"
          workingDir: "application"
          exitOnceUploaded: true
